/../target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/../target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/encodings.xml
/../HELP.md
/../target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/../target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/jarRepositories.xml
/../.mvn/wrapper/maven-wrapper.jar
/../.mvn/wrapper/maven-wrapper.properties
/libraries/Maven__antlr_antlr_2_7_7.xml
/libraries/Maven__ch_qos_logback_logback_classic_1_2_3.xml
/libraries/Maven__ch_qos_logback_logback_core_1_2_3.xml
/libraries/Maven__com_fasterxml_classmate_1_5_1.xml
/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_11_0.xml
/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_11_0.xml
/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_11_0.xml
/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_yaml_2_11_0.xml
/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_11_0.xml
/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_11_0.xml
/libraries/Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_11_0.xml
/libraries/Maven__com_github_fakemongo_fongo_2_1_1.xml
/libraries/Maven__com_google_guava_guava_20_0.xml
/libraries/Maven__com_h2database_h2_1_4_200.xml
/libraries/Maven__com_jayway_jsonpath_json_path_2_4_0.xml
/libraries/Maven__com_sun_activation_jakarta_activation_1_2_2.xml
/libraries/Maven__com_sun_istack_istack_commons_runtime_3_0_11.xml
/libraries/Maven__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml
/libraries/Maven__com_vividsolutions_jts_1_13.xml
/libraries/Maven__com_zaxxer_HikariCP_3_4_5.xml
/libraries/Maven__de_flapdoodle_embed_de_flapdoodle_embed_mongo_2_2_0.xml
/libraries/Maven__de_flapdoodle_embed_de_flapdoodle_embed_process_2_1_2.xml
/libraries/Maven__de_grundid_opendatalab_geojson_jackson_1_2.xml
/libraries/Maven__io_github_classgraph_classgraph_4_8_44.xml
/libraries/Maven__io_micrometer_micrometer_core_1_5_1.xml
/libraries/Maven__io_netty_netty_buffer_4_1_49_Final.xml
/libraries/Maven__io_netty_netty_codec_4_1_49_Final.xml
/libraries/Maven__io_netty_netty_codec_http2_4_1_49_Final.xml
/libraries/Maven__io_netty_netty_codec_http_4_1_49_Final.xml
/libraries/Maven__io_netty_netty_codec_socks_4_1_49_Final.xml
/libraries/Maven__io_netty_netty_common_4_1_49_Final.xml
/libraries/Maven__io_netty_netty_handler_4_1_49_Final.xml
/libraries/Maven__io_netty_netty_handler_proxy_4_1_49_Final.xml
/libraries/Maven__io_netty_netty_resolver_4_1_49_Final.xml
/libraries/Maven__io_netty_netty_transport_4_1_49_Final.xml
/libraries/Maven__io_netty_netty_transport_native_epoll_linux_x86_64_4_1_49_Final.xml
/libraries/Maven__io_netty_netty_transport_native_unix_common_4_1_49_Final.xml
/libraries/Maven__io_projectreactor_netty_reactor_netty_0_9_7_RELEASE.xml
/libraries/Maven__io_projectreactor_reactor_core_3_3_5_RELEASE.xml
/libraries/Maven__io_projectreactor_reactor_test_3_3_5_RELEASE.xml
/libraries/Maven__io_springfox_springfox_core_2_9_2.xml
/libraries/Maven__io_springfox_springfox_schema_2_9_2.xml
/libraries/Maven__io_springfox_springfox_spi_2_9_2.xml
/libraries/Maven__io_springfox_springfox_spring_web_2_9_2.xml
/libraries/Maven__io_springfox_springfox_swagger2_2_9_2.xml
/libraries/Maven__io_springfox_springfox_swagger_common_2_9_2.xml
/libraries/Maven__io_swagger_core_v3_swagger_annotations_2_1_1.xml
/libraries/Maven__io_swagger_core_v3_swagger_core_2_1_1.xml
/libraries/Maven__io_swagger_core_v3_swagger_integration_2_1_1.xml
/libraries/Maven__io_swagger_core_v3_swagger_models_2_1_1.xml
/libraries/Maven__io_swagger_swagger_annotations_1_5_20.xml
/libraries/Maven__io_swagger_swagger_models_1_5_20.xml
/libraries/Maven__jakarta_activation_jakarta_activation_api_1_2_2.xml
/libraries/Maven__jakarta_annotation_jakarta_annotation_api_1_3_5.xml
/libraries/Maven__jakarta_persistence_jakarta_persistence_api_2_2_3.xml
/libraries/Maven__jakarta_transaction_jakarta_transaction_api_1_3_3.xml
/libraries/Maven__jakarta_xml_bind_jakarta_xml_bind_api_2_3_3.xml
/libraries/Maven__javax_activation_javax_activation_api_1_2_0.xml
/libraries/Maven__javax_validation_validation_api_2_0_1_Final.xml
/libraries/Maven__javax_xml_bind_jaxb_api_2_3_1.xml
/libraries/Maven__mysql_mysql_connector_java_8_0_20.xml
/libraries/Maven__net_bytebuddy_byte_buddy_1_10_10.xml
/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_10_10.xml
/libraries/Maven__net_java_dev_jna_jna_4_0_0.xml
/libraries/Maven__net_java_dev_jna_jna_platform_4_0_0.xml
/libraries/Maven__net_minidev_accessors_smart_1_2.xml
/libraries/Maven__net_minidev_json_smart_2_3.xml
/libraries/Maven__org_apache_commons_commons_compress_1_18.xml
/libraries/Maven__org_apache_commons_commons_lang3_3_10.xml
/libraries/Maven__org_apache_logging_log4j_log4j_api_2_13_2.xml
/libraries/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_13_2.xml
/libraries/Maven__org_apiguardian_apiguardian_api_1_1_0.xml
/libraries/Maven__org_aspectj_aspectjweaver_1_9_5.xml
/libraries/Maven__org_assertj_assertj_core_3_16_1.xml
/libraries/Maven__org_dom4j_dom4j_2_1_3.xml
/libraries/Maven__org_glassfish_jaxb_jaxb_runtime_2_3_3.xml
/libraries/Maven__org_glassfish_jaxb_txw2_2_3_3.xml
/libraries/Maven__org_hamcrest_hamcrest_2_2.xml
/libraries/Maven__org_hdrhistogram_HdrHistogram_2_1_12.xml
/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_5_1_0_Final.xml
/libraries/Maven__org_hibernate_hibernate_core_5_4_15_Final.xml
/libraries/Maven__org_javassist_javassist_3_24_0_GA.xml
/libraries/Maven__org_jboss_jandex_2_1_3_Final.xml
/libraries/Maven__org_jboss_logging_jboss_logging_3_4_1_Final.xml
/libraries/Maven__org_junit_jupiter_junit_jupiter_5_6_2.xml
/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_6_2.xml
/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_6_2.xml
/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_6_2.xml
/libraries/Maven__org_junit_platform_junit_platform_commons_1_6_2.xml
/libraries/Maven__org_junit_platform_junit_platform_engine_1_6_2.xml
/libraries/Maven__org_latencyutils_LatencyUtils_2_0_3.xml
/libraries/Maven__org_mapstruct_mapstruct_1_2_0_Final.xml
/libraries/Maven__org_mapstruct_mapstruct_1_3_0_Beta2.xml
/libraries/Maven__org_mockito_mockito_core_3_3_3.xml
/libraries/Maven__org_mockito_mockito_junit_jupiter_3_3_3.xml
/libraries/Maven__org_mongodb_bson_4_0_3.xml
/libraries/Maven__org_mongodb_mongodb_driver_core_4_0_3.xml
/libraries/Maven__org_mongodb_mongodb_driver_sync_4_0_3.xml
/libraries/Maven__org_mozilla_rhino_1_7_7_1.xml
/libraries/Maven__org_objenesis_objenesis_2_6.xml
/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
/libraries/Maven__org_ow2_asm_asm_5_0_4.xml
/libraries/Maven__org_projectlombok_lombok_1_18_12.xml
/libraries/Maven__org_reactivestreams_reactive_streams_1_0_3.xml
/libraries/Maven__org_skyscreamer_jsonassert_1_5_0.xml
/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_30.xml
/libraries/Maven__org_slf4j_slf4j_api_1_7_30.xml
/libraries/Maven__org_springdoc_springdoc_openapi_common_1_2_32.xml
/libraries/Maven__org_springdoc_springdoc_openapi_webflux_core_1_2_32.xml
/libraries/Maven__org_springdoc_springdoc_openapi_webflux_ui_1_2_32.xml
/libraries/Maven__org_springframework_boot_spring_boot_2_3_0_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_actuator_2_3_0_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_actuator_autoconfigure_2_3_0_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_3_0_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_2_3_0_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_actuator_2_3_0_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_aop_2_3_0_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_data_jpa_2_3_1_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_data_mongodb_2_3_1_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_jdbc_2_3_0_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_json_2_3_0_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_3_0_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_reactor_netty_2_3_0_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_test_2_3_0_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_webflux_2_3_0_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_test_2_3_0_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_2_3_0_RELEASE.xml
/libraries/Maven__org_springframework_data_spring_data_commons_2_3_0_RELEASE.xml
/libraries/Maven__org_springframework_data_spring_data_jpa_2_3_0_RELEASE.xml
/libraries/Maven__org_springframework_data_spring_data_mongodb_3_0_0_RELEASE.xml
/libraries/Maven__org_springframework_plugin_spring_plugin_core_1_2_0_RELEASE.xml
/libraries/Maven__org_springframework_plugin_spring_plugin_metadata_1_2_0_RELEASE.xml
/libraries/Maven__org_springframework_spring_aop_5_2_6_RELEASE.xml
/libraries/Maven__org_springframework_spring_aspects_5_2_6_RELEASE.xml
/libraries/Maven__org_springframework_spring_beans_5_2_6_RELEASE.xml
/libraries/Maven__org_springframework_spring_context_5_2_6_RELEASE.xml
/libraries/Maven__org_springframework_spring_core_5_2_6_RELEASE.xml
/libraries/Maven__org_springframework_spring_expression_5_2_6_RELEASE.xml
/libraries/Maven__org_springframework_spring_jcl_5_2_6_RELEASE.xml
/libraries/Maven__org_springframework_spring_jdbc_5_2_6_RELEASE.xml
/libraries/Maven__org_springframework_spring_orm_5_2_6_RELEASE.xml
/libraries/Maven__org_springframework_spring_test_5_2_6_RELEASE.xml
/libraries/Maven__org_springframework_spring_tx_5_2_6_RELEASE.xml
/libraries/Maven__org_springframework_spring_web_5_2_3_RELEASE.xml
/libraries/Maven__org_springframework_spring_web_5_2_6_RELEASE.xml
/libraries/Maven__org_springframework_spring_webflux_5_2_6_RELEASE.xml
/libraries/Maven__org_synchronoss_cloud_nio_multipart_parser_1_1_0.xml
/libraries/Maven__org_synchronoss_cloud_nio_stream_storage_1_1_3.xml
/libraries/Maven__org_webjars_swagger_ui_3_25_0.xml
/libraries/Maven__org_webjars_webjars_locator_0_38.xml
/libraries/Maven__org_webjars_webjars_locator_core_0_45.xml
/libraries/Maven__org_xmlunit_xmlunit_core_2_7_0.xml
/libraries/Maven__org_yaml_snakeyaml_1_26.xml
/../.mvn/wrapper/MavenWrapperDownloader.java
/misc.xml
/modules.xml
/../movie-service.iml
/../target/movie-service-0.0.1-SNAPSHOT.jar
/../target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/../target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/../HELP.md
/../target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/../target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/../.mvn/wrapper/maven-wrapper.jar
/../.mvn/wrapper/maven-wrapper.properties
/../.mvn/wrapper/MavenWrapperDownloader.java
/../target/movie-service-0.0.1-SNAPSHOT.jar
/../target/classes/se/pra/movie/persistence/MovieEntity.class
/../target/classes/se/pra/movie/services/MovieMapper.class
/../target/classes/se/pra/movie/services/MovieMapperImpl.class
/../target/generated-sources/annotations/se/pra/movie/services/MovieMapperImpl.java
/../target/classes/se/pra/movie/persistence/MovieRepository.class
/../target/classes/se/pra/movie/MovieServiceApplication.class
/../target/test-classes/se/pra/movie/MovieServiceApplicationTests.class
/../target/classes/se/pra/movie/services/MovieServiceImpl.class
/../mvnw
/../mvnw.cmd
/../target/test-classes/se/pra/movie/PersistenceTests.class
/../src/test/java/se/pra/movie/PersistenceTests.java
/../target/maven-archiver/pom.properties
/workspace.xml
